In [1]:
from utils.query_database import QueryDatabase

In [19]:
QueryDatabase(f"""
              SELECT geografi, SUM("visningar") 
              AS "Visningar"
              FROM geografi.diagramdata
              GROUP BY geografi
              ORDER BY "Visningar"
              DESC;
              """).df

  Geografi  Visningar
0       SE     1439.0
1       IN       34.0
2       MT       10.0