## Python repetition

In [3]:
school= "handelsakademin"
school

'handelsakademin'

In [7]:
school[0], school[-1]

('h', 'n')

In [10]:
school[:7], school[7:]

('handels', 'akademin')

In [14]:
school[3:7]

'dels'

In [20]:
school[:15:2]

'hneskdmn'

In [24]:
"Skola: "+ school

'Skola: handelsakademin'

In [25]:
l1= ["hej", "då", "hejsan"]
l2= [1, 2, 3]

In [27]:
l3= l1+l2
l3

['hej', 'då', 'hejsan', 1, 2, 3]

In [52]:
l4= [i for i in range(1, 11)
     if i%2==0
     ]
l4

[2, 6, 8, 10]

In [51]:
l5= list(range(1, 11))

In [49]:
l5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
l6= [i for i in l4 
     if i!=4
     ]
l6

[2, 6, 8, 10]

In [55]:
tuple1= (2, 4, 1)
tuple1

(2, 4, 1)

In [57]:
tuple1[1]

4

### Sets

In [62]:
t= [6, 6, 3, 4, 3]

In [63]:
set(t)

{3, 4, 6}

### Dict

In [71]:
person= {"name": "Milton",
         "age": 22}

In [72]:
person["name"], person["age"]

('Milton', 22)