## Python repetition

In [25]:
school= "handelsakademin"
school

'handelsakademin'

In [26]:
school[0], school[-1]

('h', 'n')

In [27]:
school[:7], school[7:]

('handels', 'akademin')

In [28]:
school[3:7]

'dels'

In [29]:
school[:15:2]

'hneskdmn'

In [30]:
"Skola: "+ school

'Skola: handelsakademin'

In [31]:
l1= ["hej", "då", "hejsan"]
l2= [1, 2, 3]

In [32]:
l3= l1+l2
l3

['hej', 'då', 'hejsan', 1, 2, 3]

In [33]:
l4= [i for i in range(1, 11)
     if i%2==0
     ]
l4

[2, 4, 6, 8, 10]

In [34]:
l5= list(range(1, 11))

In [35]:
l5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
l6= [i for i in l4 
     if i!=4
     ]
l6

[2, 6, 8, 10]

In [37]:
tuple1= (2, 4, 1)
tuple1

(2, 4, 1)

In [38]:
tuple1[1]

4

### Sets

In [39]:
t= [6, 6, 3, 4, 3]

In [40]:
set(t)

{3, 4, 6}

### Dict

In [41]:
person= {"name": "Milton",
         "age": 22}

In [42]:
person["name"], person["age"]

('Milton', 22)

In [43]:
class Person:
    def __init__(self, name, age):
        self._name= name
        self.age= age
    
    @property
    def name(self):
        return self._name
    @name.setter
    def name(self, name):
        self._name= name

In [44]:
p1= Person("Milton", 22)
p1.name

'Milton'

In [45]:
p1.age

22