In [22]:
hire= [
    {"employeeid": 0,
     "name": "Alice",
     "department": "HR",
     "salary": 31000},
    {"employeeid": 1,
     "name": "Bob",
     "department": "IT",
     "salary": 41000},
    {"employeeid": 2,
     "name": "Charlie",
     "department": "HR",
     "salary": 28000}
]

In [23]:
hire[1]

{'employeeid': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

In [34]:
for i in range(len(hire)):

    print(f"{hire[i]['name']} works in department {hire[i]['department']} and earns {hire[i]['salary']}")

Alice works in department HR and earns 31000
Bob works in department IT and earns 41000
Charlie works in department HR and earns 28000