In [22]:
import numpy as np

## Exercise 0

In [23]:
hire= [
    {"employeeid": 0,
     "name": "Alice",
     "department": "HR",
     "salary": 31000},
    {"employeeid": 1,
     "name": "Bob",
     "department": "IT",
     "salary": 41000},
    {"employeeid": 2,
     "name": "Charlie",
     "department": "HR",
     "salary": 28000}
]

In [24]:
for i in range(len(hire)):

    print(f"{hire[i]['name']} works in department {hire[i]['department']} and earns {hire[i]['salary']}")

Alice works in department HR and earns 31000
Bob works in department IT and earns 41000
Charlie works in department HR and earns 28000

In [25]:
total= []
for i in range(len(hire)):
    total.append(hire[i]["salary"])

mean= np.mean(total)
mean

33333.333333333336

In [26]:
hr_total= []
for i in range(len(hire)):
    if hire[i]["department"]== "HR":
        hr_total.append(hire[i]["salary"])
    
hr_mean= np.mean(hr_total)
hr_mean

29500.0

In [27]:
for i in range(len(hire)):
    if hire[i]["department"]== "HR":
        print(hire[i])

{'employeeid': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}
{'employeeid': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}

In [28]:
unique_departments= set(employee["department"]for employee in hire)
unique_departments

{'HR', 'IT'}

In [29]:
for i in range(len(hire)):
    hire[i]["age"]= None

In [30]:
hire[0]["age"]= 26
hire[1]["age"]= 37

In [31]:
hire

[{'employeeid': 0,
  'name': 'Alice',
  'department': 'HR',
  'salary': 31000,
  'age': 26},
 {'employeeid': 1,
  'name': 'Bob',
  'department': 'IT',
  'salary': 41000,
  'age': 37},
 {'employeeid': 2,
  'name': 'Charlie',
  'department': 'HR',
  'salary': 28000,
  'age': None}]

In [32]:
def add_employee(hire:list, name:str, age:int, department:str, salary:int):
    new_id= max(employee["employeeid"] for employee in hire)+1
    new_employee= {
        "employeeid": new_id,
        "name": name,
        "department": department,
        "salary": salary,
        "age": age
    }
    hire.append(new_employee)

In [33]:
add_employee(hire, "David", 30, "IT", 35000)

In [34]:
hire

[{'employeeid': 0,
  'name': 'Alice',
  'department': 'HR',
  'salary': 31000,
  'age': 26},
 {'employeeid': 1,
  'name': 'Bob',
  'department': 'IT',
  'salary': 41000,
  'age': 37},
 {'employeeid': 2,
  'name': 'Charlie',
  'department': 'HR',
  'salary': 28000,
  'age': None},
 {'employeeid': 3,
  'name': 'David',
  'department': 'IT',
  'salary': 35000,
  'age': 30}]

## Exercise 1

In [35]:
class Pokemon:
    def __init__(self, name, type, level):
        self._name= name
        self._type= type
        self._level= level
        self.health= 10*level
    @property
    def name(self):
        return self._name
        
    @property
    def type(self):
        return self._type

    @property
    def level(self):
        return self._level
    @level.setter
    def level(self, level):
        self._level= level
    
    @property
    def is_fainted(self):
        if self.health<= 0:
            return self.health <0
    
    def take_damage(self, damage):
        self.health-= damage
        if self.health <= 0:
            return f"0hp"
        else:
            return f"{self.health}hp"
    
    def attack(self, other_pokemon):
        damage= 2*self.level
        other_pokemon.take_damage(damage)
        return f"{self.name} attacks {other_pokemon.name} for {damage} damage"
        
    def __repr__(self):
        return f"Pokemon(Name:str, Type:str, Level:int)"
    
    def __str__(self):
         return f"Pokemon(Name= {self.name}, Type= {self.type}, Level= {self.level}"
     

class WaterPokemon(Pokemon):
    def __init__(self, name, level):
        super().__init__(name, "Water", level)

In [36]:
p1= Pokemon("Liam", "Shasha", 3000)
p1

Pokemon(Name:str, Type:str, Level:int)

In [37]:
squirtle= WaterPokemon("Lasse", 15)
squirtle1= WaterPokemon("Bengt", 17)
polywag= WaterPokemon("Bosse", 25)

In [38]:
pokemon_tuple= (squirtle, squirtle1, polywag)
for pokemon in pokemon_tuple:
    print(pokemon)

Pokemon(Name= Lasse, Type= Water, Level= 15
Pokemon(Name= Bengt, Type= Water, Level= 17
Pokemon(Name= Bosse, Type= Water, Level= 25

In [39]:
while not pokemon_tuple[0].is_fainted and not pokemon_tuple[1].is_fainted:
    
    print(pokemon_tuple[0].attack(pokemon_tuple[1]))
    if pokemon_tuple[1].is_fainted:
        print(F"{pokemon_tuple[1].name} has fainted, {pokemon_tuple[0].name} wins!")
        
    print(pokemon_tuple[1].attack(pokemon_tuple[0]))
    if pokemon_tuple[0].is_fainted:
        print(F"{pokemon_tuple[0].name} has fainted, {pokemon_tuple[1].name} wins!")

Lasse attacks Bengt for 30 damage
Bengt attacks Lasse for 34 damage
Lasse attacks Bengt for 30 damage
Bengt attacks Lasse for 34 damage
Lasse attacks Bengt for 30 damage
Bengt attacks Lasse for 34 damage
Lasse attacks Bengt for 30 damage
Bengt attacks Lasse for 34 damage
Lasse attacks Bengt for 30 damage
Bengt attacks Lasse for 34 damage
Lasse has fainted, Bengt wins!